<form action="/add" method="post">

  <span>name&nbsp;</span><input type="text" name="user_name" value="<% if @error == true %><%= @name_before_error %><% end %>">
  <br><br>
  <span>growl&nbsp;</span><input type="text" name="user_growl"  value="<% if @error == true %><%= @growl_before_error %><% end %>">

  <input type="submit" value="GROWL!">

  <p><%= @error_msg %></p>

  <a href="/">Go to Growls</a><br><br>

</form>
