
<h1>Welcome To Growler</h1>
<ul>
  <% @all_growls.each do |growl| %>
  <li><a href="users/<%= growl[0] %>"><%= growl[0] %></a> <%= growl[1] %></li>
  <% end %>
</ul>



<a href="/add">Add new Growl</a><br><br>
<a href="/logout">Clear History</a><br><br>

